.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

a {
  color: hotpink;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#copyright
{
    color: white;
    overflow: hidden;
    padding: 1em 0em;
    text-align: center;
    background-color: black;
    position:absolute;
    margin-bottom: 0;
    max-width: none;
    left:0;
    bottom:0;
    right:0;
}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact
{
    margin: 0;

    list-style: none;
}

ul.contact li
{
    display: inline-block;
    padding: 0em 0.10em;
}

ul.contact li span
{
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a
{
    color: #FFF;
}


